label{
    display:block;
  margin-top:10px;  
  }
  .size{
    width:350px;
    height:50px
  }
  body{
    background-color:#00B1D2FF;
    
  color:black;
  }
  input{

  color:black;
  }
  h1{
    padding:auto;
  }
  